.article {
  padding-top: 28px;
  align-items: flex-start;
  @extend %siteFlex;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    linear-gradient(90deg, #e9defa 0%, #fbfcdb 100%);
  &__breadcrumbs {
    font-size: 14px;
    line-height: 150%;
    display: flex;
    gap: 8px;
    align-items: center;
    &__link {
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__block {
    @extend %siteFlex;
    align-items: flex-start;
    &__content {
      width: 550px;
      padding-top: 45px;
      align-items: flex-start;
      @extend %siteFlex;
      flex-direction: column;
      &__heading {
        font-size: 42px;
        font-weight: 700;
        line-height: 120%;
        padding-bottom: 20px;
      }
      &__discription {
        font-size: 18px;
        line-height: 155%;
        padding-bottom: 31px;
      }
      &__author {
        @extend %siteFlex;
        gap: 9px;
        &__img {
          border-radius: 42px;
        }
        &__name {
          @extend %siteFlex;
          flex-direction: column;
          align-items: stretch;
          &__user {
            font-size: 14px;
            font-weight: 700;
            line-height: 150%;
          }
          &__disc {
            font-size: 14px;
            line-height: 150%;
            color: $colorLabel;
          }
        }
      }
    }
  }
}

.slider {
  @extend %siteFlex;
  justify-content: flex-start;
  gap: 42px;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 61px;
  padding-top: 61px;

  &__block {
    @extend %siteFlex;
    flex-direction: column;
    gap: 14px;
    &__img {
      transition: 0.3;
      height: 100%;
      width: 100%;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
  &__discription {
    @extend %siteFlex;
    flex-direction: column;
    gap: 28px;
    width: 450px;
    &__buttons {
      @extend %siteFlex;
      gap: 10px;
      &__button {
        font-family: Nunito Sans;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        padding: 15px 23px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 5px;
        background: var(
          --download,
          linear-gradient(268deg, #0057ff 1.64%, #259bff 97.95%)
        );
        transition: 0.3s;
        &:hover path {
          fill: #0057ff;
        }
        &:hover {
          background: white;
          color: #0057ff;
        }
      }
      &__disc {
        color: $colorLabel;
        font-size: 14px;
        @extend %siteFlex;
        gap: 7px;
      }
    }
  }
}

.video {
  @extend %siteFlex;
  align-items: flex-start;
  flex-direction: column;
  &__heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 135%;
    padding-bottom: 28px;
  }
  &__content {
    @extend %siteFlex;
    align-items: flex-start;
    padding-bottom: 40px;
    position: relative;
    & svg {
      top: 38%;
      left: 50%;
      position: absolute;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
  &__discription {
    font-size: 18px;
    width: 971px;
    line-height: 150%;
    &__list {
      padding-top: 30px;
      padding-bottom: 60px;
      @extend %siteFlex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      &__li {
        position: relative;
        list-style: none;
        padding-left: 40px;
        &::before {
          position: absolute;
          content: url("data:image/svg+xml; utf8,   %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M12.5 7.63397C13.1667 8.01887 13.1667 8.98113 12.5 9.36603L5 13.6962C4.33333 14.0811 3.5 13.5999 3.5 12.8301V4.16987C3.5 3.40007 4.33333 2.91895 5 3.30385L12.5 7.63397Z' fill='%23343A40'/%3E%3Cpath d='M13.25 10.6651C14.9167 9.70281 14.9167 7.29719 13.25 6.33494L5.75 2.00481C4.08333 1.04256 2 2.24537 2 4.16987V12.8301C2 14.7546 4.08333 15.9574 5.75 14.9952L13.25 10.6651Z' stroke='%23343A40' stroke-opacity='0.15' stroke-width='3'/%3E%3C/svg%3E");
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          background-size: cover;
        }
      }
    }
  }
}

.quetions {
  &__heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 135%;
    padding-bottom: 10px;
  }
  &__article {
    width: 970px;
    font-size: 18px;
    line-height: 150%;
    &__heading {
      @extend %siteFlex;
      justify-content: space-between;
      padding-bottom: 20px;
      padding-top: 40px;
      font-size: 22px;
      font-weight: 700;
      line-height: 130%;
      & svg {
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
    &__discription {
      position: relative;
    }
  }
}

.activeQuetion {
  height: 89px;
  overflow: hidden;
  &::after {
    position: absolute;
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
  }
}

.slider__block__part {
  display: none;
  width: 454px;
  height: 285px;
  overflow: hidden;
}

.slider__block__part__dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDotsIndex,
.slider__block__part__dot:hover {
  background-color: #717171;
}

.fader {
  -webkit-animation-name: fader;
  -webkit-animation-duration: 1.5s;
  animation-name: fader;
  animation-duration: 1.5s;
}

@-webkit-keyframes fader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slider__modal__slider {
  display: none;
  width: 100%;
  height: 100%;
  background: grey;
  position: absolute;
  top: 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 25vh;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: white;
  position: absolute;
  right: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}



.video__block{
  display: none;
  width: 100%;
  height: 100%;
  background: grey;
  position: absolute;
  top: 0;
  &__frame{
    width: 50vw;
    margin-left: 25vh;
    margin-top: 25vh;
  }
}

.close__video {
  color: white;
  position: absolute;
  right: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}